@font-face {
  font-family: "Franklin Gothic Medium";
  src: url("../fonts/Franklin-Gothic-Medium-Regular.woff");
  /* Change link to WP media upload */
  font-weight: normal;
}

body {
  margin: 0;
}

.body-default {
  background-color: grey;
}

.body-home {
  background-image: url("../images/Website background.jpg");
  /* Change link to WP media upload */
}

.body-shop {
  background-color: white;
}

.header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.header-item {
  padding-left: 50px;
  padding-right: 50px;
  padding-top: 20px;
  padding-bottom: 20px;
}

#header-logo {
  max-width: 300px;
}

#header-slogan {
  max-width: 350px;
}

.content {
  margin-left: 10%;
  margin-right: 10%;
  margin-top: 5%;
  margin-bottom: 5%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  gap: 10%;
}

.img-placeholder {
  width: 500px;
  height: 600px;
  background-color: black;
  transition: 0.3s;
}

.brent-image-hover:hover .img-placeholder {
  transform: scale(1.05);
}

.brent-image-hover:hover .brent-title {
  transform: translateY(30px);
  color: white;
}

.brent-text {
  font-family: "Franklin Gothic Medium";
  font-size: x-large;
}

.page-title {
  display: flex;
  justify-content: space-evenly;
  font-family: "Franklin Gothic Medium";
  font-size: xx-large;
}

.nav {
  display: flex;
  flex-direction: column;
  padding-top: 5%;
}

.brent-title {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  font-family: "Franklin Gothic Medium";
  font-size: 80px;
  color: black;
  text-decoration: none;
  transition: 0.3s;
}

.img-caption {
  font-family: "Franklin Gothic Medium";
  font-size: large;
}

.flex-align-left {
  justify-content: start;
}

.title-m {
  font-size: 55px;
}

.nav-link {
  font-family: "Franklin Gothic Medium";
  font-size: 96px;
  color: white;
  text-decoration: none;
  transition: 0.5s;
  padding-left: 50px;
}

.nav-link:hover {
  color: black;
}

.main-grid {
  display: flex;
  justify-content: space-evenly;
}

.grid-item {
  overflow: hidden;
  position: relative;
  text-align: center;
  background-color: black;
  transition: 0.5s;
}

.item-square {
  max-height: 500px;
  max-width: 500px;
}

.grid-item .item-square {
  padding: 10px;
}

.grid-image {
  transition: 0.5s;
}

.item-square .grid-image img {
  /* position: relative;
    top: 100%;
    left: 0%;
    transform: translate(-50%, -50%); */
  max-width: 100%;
}

.grid-item:hover .grid-image {
  opacity: 40%;
}

.grid-item img {
  transition: 0.5s;
}

.grid-item:hover img {
  transform: scale(1.1);
}

.grid-item:hover .grid-item-title {
  opacity: 1;
}

.grid-item-title {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
  color: white;
  font-family: "Franklin Gothic Medium";
  font-size: xx-large;
  transition: 0.5s;
}
